{
  "ignore": "*/tests/",
  "env": {
    "production": {
      "presets": [
        [
          "env",
          {
            "loose": true,
            "modules": "umd"
          }
        ]
      ]
    },
    "development": {
      "presets": [
        [
          "env",
          {
            "loose": true,
            "modules": "umd"
          }
        ]
      ]
    },
    "minified": {
      "presets": [
        [
          "env",
          {
            "loose": true,
            "modules": "umd"
          }
        ],
        [
          "minify",
          {
            "mangle": {
              "blacklist": {
                "generate": true,
                "baseGenerator": true
              }
            }
          }
        ]
      ]
    }
  }
}
